<tr id="<%= dom_id friend %>">
  <th scope="row">

      <%= link_to friend.id, friend %>

    
  </th>

  <td>
  <%= friend.name %>
  </td>

  <td>
   
    <%= friend.email %>
  </td>

  <td>
   
    <%= friend.phone %>
  </td>

  <td>
   
    <%= friend.twitter %>
  </td>
  <td>
    <div class="row ">
    <%= link_to "Edit", edit_friend_path(friend),class:'col align-self-center' %> 
    <div class="col align-self-center">
     <%= button_to "Delete", friend, method: :delete,class:"btn btn-link" %>
    </div>
   
    </div>
  </td>

</tr>
